.nav {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    height: 80px;
    width: 100%;
    gap: 10rem;
    margin-bottom: 0px;
  }
}

.a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.a:hover {
  background-color: var(--verdePrimario);
  padding: 10px;
  border-radius: 5px;
}

.cards_Container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card_Cont {
  width: 300px; /* Ajusta el ancho de la tarjeta */
  height: 350px; /* Ajusta la altura de la tarjeta */
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card_Img {
  margin-bottom: 20px;
}

.text_Img h1 {
  font-size: 24px; /* Ajusta el tamaño del título */
}

.card_Btn {
  margin-top: auto;
}


@media (min-width: 768px) {
  .cards_Container {
    flex-direction: row;
  }
}

.card_Cont {
  background-color: #fafaf5;
  margin: 10px;
  border-radius: 5px;
  box-shadow: -5px 6px 32px -3px rgba(0, 0, 0, 0.2);
  border: 8px solid black;
  /* Añadir borde negro */
}

.text_Img {
  margin: 10px;
}

.text_Img h1 {
  display: flex;
  justify-content: center;
  color: #000000;
}

.card_Img {
  box-sizing: border-box;
  background-repeat: no-repeat;
  margin: 5px;
  display: flex;
  justify-content: center;
}

.Img {
  width: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 500px;
  height: 200px;

}

.footer span {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 15px;
}

.CardText {
  width: 50%;
  height: 30vh;
  border-radius: 10px;
  border: #426B1F 5px solid;
  background: #fafaf5;
}

.CardText p {
  margin: 20px;
  font-size: 20px;
  font-weight: 900;
}

.TitleLabelClass {
  width: 100%;
  font-size: 30px;
  border-bottom: 3px solid #426B1F;
  margin-bottom: 40px;
  padding: 0%;
}

.TitleLabelClass .textClass {
  position: relative;
  top: 0;
  text-align: center;
}

.TitleLabelClass .complementClass {
  position: relative;
  bottom: 70px;
  color: #426B1F;
}

.card {
  width: 60%; 
  max-width: 600px; 
  margin: 10px 0; 
  background: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.358);
  padding: 0.5px; 
  border-radius: 20px;
  border: 3px solid #426B1F;
  
}


.lista-botones {
  margin-right: 500px; 
}


.card a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 20px;
  text-align: center;
}
/*Card Agregar*/.CardInputClass {
  background: #fafaf5;
  width: 50%;
  border: #426B1F 3px solid;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
  transition: box-shadow 0.3s ease; 
}

.CardInputClass:hover {
  box-shadow: 0 40px 200px 0 rgba(17, 114, 4, 0.2); 
}

.CardInputClass p {
  color: #020202;
  margin: 20px;
}

.CardInputClass .container {
  display: flex;
  width: 100%;
  height: 50vh;
}

.CardInputClass .container .Column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}


.cards {
  display: flex; 
  flex-direction: column; 
  border: 5px solid #426B1F;
  border-radius: 8px;
  width: 100%; 
  max-width: 600px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 auto;
  
}

.card-header {
  padding: 20px; 
  font-weight: bold;
  text-align: center;
  font-size: 24px; 
}

.card-body {
  padding: 20px;
  text-align: justify;
}

.property-info {
  margin-bottom: 10px;
}

.info-item {
  margin-bottom: 5px;
}

.description {
  line-height: 1.5;
}

/*Card Lista de Usuarios*/
  .card1 {
    margin: 50px auto;
    background: #FAFAF5;
    box-shadow: 0 0 20px rgba(20, 20, 19, 0.5); 
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #426B1F;
    max-width: 400px;
  text-align: center;
  }

  .card1 h2 {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;    
    color: #000000;
  }


  .edicioncard{
    width: 180px;
    height: 32px;
    background-color: #426B1F;
    color: white;
    font-size: 19px;
  }

  .lista-botones{
justify-content: space-around;
    display: flex;
  }

  .card1 p{
    margin: 20px 0;
  }

  .Link-Raya {
    text-decoration: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.873);
    background-color: #426B1F;
    width: 150px;
    height: 50px; 
    display: inline-block; 
    line-height: 50px; 
    border-radius: 6px; 
    font-size: 16px; 
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Editar Usuario la alert*/
.alert {
  position: fixed;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafaf5;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  border: 5px solid #426B1F;
  color: #000000;
  font-family:fantasy
}

.alert p {
  color: black; 
  font-size: 20px;  
}


.alert button {
  margin: 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: #FAFAF5;
  font-size: 16px;
  cursor: pointer;
  background-color: #426B1F;

}

.alert button:hover {
  background-color: #426B1F;
}

.edicion{
  margin:5px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: #FAFAF5;
  font-size: 20px;
  cursor: pointer;
  background-color: #426B1F;
  margin-right: 40px;
}


/*Icono Lista usuario*/
.icon {
 margin-left: 240px;
 margin-top: -10px;
 color: #000;
 text-decoration: none;
}

/*Imagen Menu*/
.Landing {

  max-width: 10%; 
  display: block; 
  margin: 0 auto; 
  margin-left: 44.2%;
}

/*Imagen Login*/
.Login {
  max-width: 14%;  
  margin-top: 10px;
  margin-left: 42.5%;

}


/*Imagen Menu Usario*/

.Menu{
  max-width: 10%; 
  display: block; 
  margin: 0 auto; 
  margin-left: 44.2%;
}

