.InfPagoClass{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px
}

.cardlist{
    max-width: 800px;
    padding: 5px;
    background: #FAFAF5;
    margin: 0 auto;
    border-radius: 16px;
    margin-top: 5px;    
    text-align: center;
    
  
}
.cardlist h2{
    text-align: center;
    font-size: 50px; 
    font-weight: bold; 

}

.PerfilClass{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


 

