.InfPagoClass{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*Card de Sugerencia */
.cardlist {
  max-width: 900px;
  padding: 10px;
  background: #FFFFFF;
  margin: 20px auto;
  border-radius: 10px;
  border: 5px solid #426B1F;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: box-shadow 0.3s ease; 
}

.cardlist:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cardlist h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease; 
}

.cardlist p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: opacity 0.3s ease, transform 0.3s ease; 
}

.cardlist:hover p {
  opacity: 0.8; 
  transform: translateY(5px); 
}


.cardlist input[type="text"]:focus {
  border-color: #4CAF50;
  background-color: #E8F8E8; 

}


.cardlist input[type="text"] {
  width: 80%; 
  margin: 10px auto; 
  padding: 5px; 
  border: 5px solid #426B1F; 
  border-radius: 5px; 
  box-sizing: border-box; 
  border: 5px solid #426B1F;
  margin: 10px auto;
}


.PerfilClass{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Loggin*/
.formContainerLogging {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
  }
  
  .formHeader {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .avatar {
    height: 50px;
  }
  
  .formTitle {
    font-size: 26px; 
    font-weight: bold; 
  }
  
  .inputContainer {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  
  .inputContainer .inputTitle {
    margin-right: 10px;
    width: 100px;
    font-size: 20px; 
    font-weight: bold; 
  }
  
  .input-wrapper {
    position: relative;
  }
  
  .input {
    width: 200px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 18px; 
  }
  
  .input-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    transition: 0.3s;
    pointer-events: none;
  }
  
  .input:focus + .input-label,
  .input:not(:placeholder-shown) + .input-label {
    top: 5px;
    left: 10px;
    font-size: 12px;
    color: #333;
  }
  
  .buttonContainer {
    margin-top:   0px;
  }
  
  .inputContainer:last-child {
    margin-right: 40px; 
  }

/* landing.css */

.rentlarTitle {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-left: -3.5%;
    color: green;
  }
  
  .landingTitleContainer {
    text-align: center;  
    margin-top: 50px;
  }
  
  .landingTitle {
    font-size: 3em;
    font-family: Newsreader;
    font-weight: bold;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
  }
  
  /* menuUsuario.css */

.rentlarTitle {
  display: flex;
  justify-content: center;
  margin: 5px;
  margin-left: -3.5%;
  color: green;
}

.tituloLandingContainer {
  text-align: center; 
  margin-left: 35%;
  margin-top: 0px;
}

.tituloLanding {
  font-size: 3em; 
  font-family: Newsreader;
  font-weight: bold;
  margin-left: -9.5%;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: flex-end;
}

/*Lista Usuario*/
.Logo{
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.card-container {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.card-container.visible {
  opacity: 1;
}

.card-container.hidden {
  opacity: 0;
}

/*Imagen Menu*/
.Sugerencia{
  float: right;
    top: 60px;   
    position: relative; 
}
